.navbar {
	background: none;
	border: none;
	padding-top: 2%;
}

.cover {
	background: url(../img/bg.jpg) fixed no-repeat;
}

body {
	background-color: #cfcfcf;
}

a, a:visited {
	color: #000 !important;
	transition: all .5s ease .1s;
}

a:hover {
	color: #fff !important;
	text-shadow: 2px 2px 2px #000;
}

.logo {
	margin: 0 auto; 
	width: 20%;
}

img {
	width: 100%;

}

.jumbotron {
	background-color: rgba(207,207,207,.4);
	color: #000;
	text-align: center;
	margin: 0 auto;
	width: 75%;
	border-radius: 15px;
}

.btn-primary {
	background-color: #cfcfcf;
	border-color: rgb(50, 50, 50);
	transition: all .5s ease .1s;
}

.btn-primary:hover {
	background-color: rgb(50, 50, 50);
	color: #fff !important;
	border-color: #cfcfcf;
}

.bodylogo {
	width: 15%;
	margin: 0 auto;
}

.coverbodylogo {
	width: 20%;
	margin: 0 auto;
	padding-bottom: 3%;
}

.coverlogo {
	width: 10%;
	margin: 0 auto;
}

.about {
	width: 15%;
	margin: 0 auto;
	padding-top: 15%;
}

.content {
	padding: 5%;
	background: url(../img/aboutbg.jpg) fixed no-repeat;
}

.navpage {
	background-color: #cfcfcf;
}
