.navbar {
	background: none;
	border: none;
	padding-top: 2%;
}

.cover {
	background: url(../img/bg.jpg) fixed no-repeat;
}

body {
	background-color: #cfcfcf;
}

a, a:visited {
	color: #000 !important;
	transition: all .5s ease .1s;
}

a:hover {
	color: #fff !important;
	text-shadow: 2px 2px 2px #000;
}

.logo {
	margin: 0 auto; 
	width: 20%;
}

img {
	width: 100%;

}

.cover-carousel {
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
	padding: 3%;
}


.carousel-caption {
	text-shadow: 2px 2px 2px #000 !important; 

}

.carousel-caption h1 {
	font-size: 3em !important;
}

.carousel-caption p {
	font-size: 1.25em !important;
}


.jumbotron, .covercontent {
	background-color: rgba(207,207,207,.4);
	color: #000;
	text-align: center;
	margin: 0 auto;
	width: 75%;
	border-radius: 15px;
	padding-bottom: 3%;
	max-width: 960px;
}

.btn-primary {
	background-color: #cfcfcf;
	border-color: rgb(50, 50, 50);
	transition: all .5s ease .1s;
}

.btn-primary:hover {
	background-color: rgb(50, 50, 50);
	color: #fff !important;
	border-color: #cfcfcf;
}

.bodylogo {
	width: 15%;
	margin: 0 auto;
}

.coverbodylogo {
	width: 20%;
	margin: 0 auto;
	padding-bottom: 3%;
}

.coverlogo {
	width: 10%;
	margin: 0 auto;
}

.about {
	width: 15%;
	margin: 0 auto;
	padding-top: 15%;
}

.content {
	padding: 5%;
	background: url(../img/aboutbg.jpg) fixed no-repeat;
}

.navpage {
	background-color: #cfcfcf;
	box-shadow: 0px 5px 5px #000;
}

.blogcontent {
	padding-top: 15%;
	text-align: center;
	max-width: 960px;
	margin: 0 auto;
}

.blog-post {
	padding-top: 3%;
}

blockquote {
	background-color: #fff;
}

.bottomnav {
	text-align: center;
}

hr {
	border-color: #000;
}

